<html>
	<head>
		<title>Quiltsewing's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Quiltsewing's Blog</a></h1>
		</div>

		<div>
			<p>published: 25.07.2019, 03:43</p>
			<h2><a href="">My first post</a></h2>
			<p><em>Giraffe</em> is a happy animal because of its <strong>long neck!</strong></p>
		</div>
		
		<div>
			<p>published: 25.07.2019, 03:47</p>
			<h2><a href="">My second post</a></h2>
			<p>I live in <em>Dduk-Island</em> but it is not an <strong>island!</strong></p>
		</div>	
	</body>
</html>
